lxml
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-with-pdf
mknotebooks
# mkdocs-macros-plugin
# mkdocs-redirects
pdoc3